@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #7de6ee;
    padding-block: 5px;
    width: 100%;
}

#header #logo {
    width: 50px;
    margin-right: 10px;
}

#input {
    width: 450px;
    border: 0.5px solid grey;
    box-shadow: 3px 3px 3px grey;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    background: #ffffff;
    width: 350px;
    padding: 5px;
}

.wrapper .selectBtn {
    background: #59bfe8;
    padding: 5px 40px 5px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 350px;
    box-sizing: border-box;
    transition: 0.3s;
    box-shadow: 3px 3px 5px grey;
}

.selectBtn:hover {
    height: 40px;
    width: 360px;
    box-shadow: 4px 4px 5px grey;
}

.wrapper .selectBtn #downArrow {
    transition: 0.5s;
    margin-top: 3px;
}

.content {
    display: none;
}

.content .search {
    margin-block: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
}

.search input {
    width: 100%;
    height: 40px;
    border: 0.5px solid grey;
    border-radius: 5px;
    padding-left: 40px;
    box-sizing: border-box;
}

.search i {
    position: absolute;
    top: 13px;
    left: 15px;
}

.content .list {
    border: 0.5px solid grey;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
    padding: 10px 20px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 225px;
}

.list .searchItem,
.list .searchItem2 {
    padding: 5px 10px;
    background: aliceblue;
    margin-block: 5px;
    border: 0.1px solid #dadada;
    border-radius: 3px;
}

.list .searchItem:hover,
.list .searchItem2:hover {
    background: rgb(112, 173, 227);
}

#submit {
    background-color: white;
    color: #59bfe8;
    border: 0.5px solid grey;
    border-radius: 7px;
    font-size: 17px;
    margin: 15px;
    width: 150px;
    height: 30px;
    transition: 0.3s;
    box-shadow: 2px 2px 4px grey;
}

#submit:hover {
    font-weight: bold;
    color: white;
    background-color: #59bfe8;
    width: 170px;
    height: 35px;
}

#amount {
    width: 349px;
    padding-left: 15px;
    box-sizing: border-box;
    height: 35px;
    border: 0.5px solid grey;
    border-radius: 7px;
    box-shadow: 3px 3px 5px grey;
    transition: 0.3s;
}

#amount:hover {
    width: 359px;
    height: 40px;
    box-shadow: 4px 4px 5px grey;
}

#notification {
    margin-block: 6px;
    width: 80%;
    box-sizing: border-box;
    margin-inline: auto;
    padding: 3px 10px 3px 20px;
    color: white;
    height: 40px;
    box-shadow: 2px 2px 2px 2px #b7f8d5;
    display: flex;
    align-items: center;
    border: 0.5px solid white;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}

#notification i {
    margin-right: 7px;
}

#result {
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(money-banner.jpg);
}

#resultText {
    background-color: #696969e8;
    padding: 3px 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

#tableResult {
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 10px;
    margin-inline: auto;
}

#tableResult h2 {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#resultSearchDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#resultSearchDiv i {
    position: absolute;
    top: 10px;
    left: 170px;
}

#resultSearchDiv #resultSearch {
    margin-bottom: 20px;
    width: 60%;
    height: 34px;
    border: 1px solid grey;
    border-radius: 7px;
    padding-left: 40px;
    box-shadow: 3px 3px 5px #aaa6a6;
    box-sizing: border-box;
}

#disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#disclaimer #lastUpdated {
    font-size: 13px;
    margin-block: 3px;
    display: none;
}

#disclaimer #disclaimerText {
    font-size: 10px;
    display: none;
}

/* Utility Classes */

.content.active {
    display: initial;
}

#downArrow.rotate {
    rotate: 180deg;
}

/* Cistomizing Scrollbar  */

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border: 0.1px solid white;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}

h3 {
    margin: 10px;
}


@media only screen and (max-width: 700px) {
    #input {
        width: 90%;
    }

    .wrapper, .selectBtn{
        width: 77%;
        display: flex;
    }
    #amount {
        width: 77%;
    }
}